html,body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  margin: 0;
}

@media(max-width:480px){
  .todoitem{
    padding: 0;
  }
  
  .formulario{
    display: grid;
    margin: 0 auto;
    width: 70% !important
  }
  .lista{
    padding: 10px !important;
  }
  
}
.todoitem{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cecece;
  padding: 1%
}

.todoitem p{
  padding-right: 10px
}

.formulario{
  display: grid;
  margin: auto;
  width: 50%
}

.formulario input{
  margin-bottom: 2%;
  border: 2px solid rgb(8, 200, 115);
  height: 35px;
}

.formulario input::placeholder{
  color: black;
  font-size: 15px;
}

.formulario button{
  margin-top: 2%;
  border: 2px solid gray;
  height: 35px;
  background-color: rgb(8, 200, 115);
  color: #fff;
  font-size: 15px;
  font-weight: bold
}

.formulario button:hover{
  cursor: pointer;
  background-color: #fff;
  color: rgb(8, 200, 115);
}

.btn{
  cursor: pointer;
}